$szary : #c4c4c5;
$niebieski : #1a2733;
$ciemnySzary: #595959;
$margines : 20px;
$czerwony: #D07C7C;


body::-webkit-scrollbar {
	width: 10px;
	background-color: #fff;
}
body::-webkit-scrollbar-track {
	background-color: #fff;
}
body::-webkit-scrollbar-thumb {
    background-color: $czerwony;
}

.preloader {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1001;
    text-align: center;
    background-color: $szary;
    .progress{
        background-color: $szary;
        .indeterminate{
            background-color: $niebieski;
        }
    }
}

html, body{
    width: 100%;
    min-height: 100vh;
    position: relative;
    color: $ciemnySzary;
}

header{
    background-image: url("../img/header_bg.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100vh;
    border-top: $margines solid #fff;
    border-left: $margines solid #fff;
    border-right: $margines solid #fff;
    @media screen and (max-width: 600px) {
        & {
            background-position: top left;
        }
    }
    .header{
        height: 100%;
        width: 100%;
        text-align: center;
        color: #fff;
        &>div{
            width: 100%;
        }
        h1{
            font-family: 'Times New Roman', Times, serif;
            margin-top: 50px;
            position: relative;
            &:after{
                content: "";
                display: block;
                width: 10%;
                height: 3px;
                margin-top: 20px;
                margin-left: auto;
                margin-right: auto;
                transition: all 0.5s;
                background: #fff;
            }
        }
        h5{
            margin-top: 50px;
            font-weight: 300;
        }
        .arrow_down{
            color: #fff;
            margin-top: 20vh;
            font-size: 40px;
            font-weight: 100;
        }
    }
    .menu{
        background: #fff;
        padding-top: 20px;
        padding-bottom: 15px;
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        margin-bottom: 0px;
        border-bottom: 1px solid $szary;
        a{
            color: $ciemnySzary;
            display: inline-block;
            margin-right: 40px;
            text-transform: uppercase;
            text-decoration: none;
            font-weight: 300;
            font-size: 0.9em;
            letter-spacing: 0.05em;
            &:after{
                content: "";
                display: block;
                width: 0%;
                height: 2px;
                transition: all 0.5s;
                background: $czerwony;
            }
            &:hover:after{
                width: 100%;
            }
        }
    }
}

main{
    min-height: 100vh;
    color: $ciemnySzary;
    h5{
        font-family: 'Times New Roman', Times, serif;
        text-transform: uppercase;
        margin-top: 20vh;
        padding-bottom: 20px;
        text-align: center;
        &:after{
            content: "";
            display: block;
            margin-top: 10px;
            width: 70px;
            margin-left: auto;
            margin-right: auto;
            height: 3px;
            transition: all 0.5s;
            background: $czerwony;
        }
    }
    p{
        font-weight: 300;
    }
    [class*="works-"]{
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 400px;
        border-color: #fff;
        border-style: solid;
        border-width: $margines;
        cursor: pointer;
    }
    .works-nature{
        background-image: url("../img/works_nature.png");
        @media screen and (min-width: 992px) {
            & {
                border-bottom: none;
            }
        }
    }
    .works-urban{
        background-image: url("../img/works_urban.png");
        height: 800px;
        @media screen and (min-width: 992px) {
            & {
                border-left: none;
            }
        }
        @media screen and (max-width: 992px) {
            & {
                height: 400px;
            }
        }
    }
    .works-people{
        background-image: url("../img/works_people.png");
        @media screen and (min-width: 992px) {
            & {
                border-right-width: calc( #{$margines}/2);
            }
        }
    }
    .works-wedding{
        background-image: url("../img/works_wedding.png");
        @media screen and (min-width: 992px) {
            & {
                border-left-width: calc( #{$margines}/2);
            }
        }
    }
    .works-architecture{
        background-image: url("../img/works_architecture.png");
        @media screen and (min-width: 992px) {
            & {
                border-top: none;
            }
        }   
    }
    .works-animals{
        background-image: url("../img/works_animals.png");
        @media screen and (min-width: 992px) {
            & {
                border-top: none;
                border-left: none;
            }
        }
    }
    .caption{
        position: relative;
        display: inline-block;
        padding: 0px 20px;
        margin: 20px;
        color: #fff;
        margin-right: auto;
        margin-left: auto;
        transition: all 0.2s;
        &:before {
            display: block;
            content: "";
            width: 20px;
            height: 20px;
            position: absolute;
            top: 0px;
            left: -10px;
            border-top: 1px solid #fff;
            border-left: 1px solid #fff;
        }
        &:after {
            display: block;
            content: "";
            width: 20px;
            height: 20px;
            position: absolute;
            top: 0px;
            right: -10px;
            border-top: 1px solid #fff;
            border-right: 1px solid #fff;
        }
        div:nth-child(1){
            font-family: 'Times New Roman', Times, serif;
            text-transform: uppercase;
            font-size: 30px;
            text-align: center;
            padding: 0px 10px;
        }
        div:nth-child(1):before {
            display: block;
            content: "";
            width: 20px;
            height: 20px;
            position: absolute;
            bottom: -10px;
            left: -10px;
            border-bottom: 1px solid #fff;
            border-left: 1px solid #fff;
        }
        div:nth-child(1):after {
            display: block;
            content: "";
            width: 20px;
            height: 20px;
            position: absolute;
            bottom: -10px;
            right: -10px;
            border-bottom: 1px solid #fff;
            border-right: 1px solid #fff;
        }
        div:nth-child(2){
            text-align: center;
            letter-spacing: 0.6px;
        }
        div:nth-child(2):before{
            content: "";
            display: block;
            width: 0%;
            height: 2px;
            background: #fff;
            margin-bottom: 3px;
            transition: all 0.3s;
        }
    }
    [class*="works-"]:hover{
        .caption{
            padding: 6px 26px;
            div:nth-child(2):before{
                width: 100%;
            }
        }
    }
    .carousel.carousel-slider{
        height: 230px;
    }
    .carousel.carousel-slider .carousel-item{
        min-height: unset;
        p:first-child{
            font-size: 18px;
        }
    }
    .carousel ul.indicators li.indicator-item {
        background-color: $szary;
        width: 10px;
        height: 10px;
    }
    .carousel ul.indicators li.active {
        background-color: rgb(233, 87, 63) !important;
    }
}

footer{
}